<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sky.opam"
      android:versionCode="6"
      android:versionName="1.2.3">
    <uses-sdk android:minSdkVersion="8" />

    <application android:name=".MyApplication" android:icon="@drawable/logo" android:label="@string/app_name">
        <activity android:name="com.sky.opam.LoginActivity"
            	  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="com.sky.opam.WebViewService" >
        </service>
        
        <activity android:name="com.sky.opam.AgendaActivity"
            android:screenOrientation="portrait"
        		android:label="This week">
        </activity>
        <activity android:name="com.sky.opam.AgendaNextWeekActivity"
            android:screenOrientation="portrait"
        		android:label="Next week">
        </activity>
        <activity android:name="com.sky.opam.DayClassActivity"
            android:screenOrientation="portrait"
        		android:label="@string/app_name">
        </activity>
        <activity android:name="com.sky.opam.DynamicClassActivity"
            android:screenOrientation="portrait"
        		android:label="@string/app_name">
        </activity>
        <activity android:name="com.sky.opam.OnlineActivity"
            android:screenOrientation="portrait"
        		android:label="@string/app_name">
        </activity>
        <activity android:name="com.sky.opam.ChatActivity"
            android:screenOrientation="portrait"
        		android:label="@string/app_name">
        </activity>
        
    </application>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" ></uses-permission>
 	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" ></uses-permission>
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" ></uses-permission>
 	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" ></uses-permission>
  	<uses-permission android:name="android.permission.INTERNET" ></uses-permission>
  	<uses-permission android:name="android.permission.WAKE_LOCK" ></uses-permission>
</manifest>