<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!-- Enable @Controller annotation support -->
    <!--Spring MVC uses Jackson per default to serialize objects to JSON. If you want to use GSON instead -->
    <mvc:annotation-driven/>
  
    <!-- Map simple view name such as "test" into /WEB-INF/views/test.jsp -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	  <property name="prefix" value="/WEB-INF/" />
	  <property name="suffix" value=".jsp" />
	</bean>
	
	<!-- Scan classpath for annotations (eg: @Service, @Repository etc) -->
    <context:component-scan base-package="com.loic"/>
    
    <!-- Hibernate Transaction Manager -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	  <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- Activates annotation based transaction management -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	  
<!-- 	Database Configuration  -->
	<import resource="./database/DataSource.xml"/>
	<import resource="./database/Hibernate.xml"/>
	
	<!-- Beans Declaration -->
	<import resource="./beans/*.xml"/>
  	
	
</beans>